{% extends "base.html" %}
{% block content %}

    <style>
        #cy {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
    <div id="cy"></div>
    <div class="yearbar" style="">
        <span>{{minyear}}</span>
        <span>{{maxyear}}</span>
    </div>
    <div class="right-panel">
        <div><span id="title">{{ origin['title'] }}</span></div>
        <span class="popup" data-popuptext="Источник"><a href="https://www.semanticscholar.org/paper/{{origin['paperId']}}" id="article_link" target="_blank"><img src="/static/img/data-source.png" width="32" height="32"></a></span>
        <span class="popup" data-popuptext="Построить граф"><a href="/graph/{{origin['paperId']}}" id="build_graph"><img src="/static/img/graph.png" width="32" height="32"></a></span>
        <div class="right-panel_property">Авторы: <span id="authors">{% for author in origin['authors'] %} <a class="author" href="/{{author['name']}}/1">{{author['name']}}</a> {% endfor %}</span></div>
        <div class="right-panel_property">Год: <span id="year">{% if origin['year'] %} {{origin['year']}} {% endif %}</span></div>
        <div class="right-panel_property">Области знания: <span id="fields">{% if origin['fieldsOfStudy'] %} {% for field in origin['fieldsOfStudy'] %} <span class="fieldOfStudy">{{field}}</span> {% endfor %} {% endif %}</span></div>
        <div class="right-panel_property">Цитирования: <span id="ncitations">{{ origin['citationCount'] }}</span></div>
        <div class="right-panel_property"><span id="abstract">{% if origin['abstract'] %} {{origin['abstract'].replace("\\u", "").replace("`", "'")}} {% endif %}</span></div>
    </div>

    <script>
        let origin =  {id: '{{origin['paperId']}}',
                       title: '{{origin['title'].replace("\n", "")}}',
                       citationCount: {{origin['citationCount']}},
                       year: {% if origin['year'] %} {{origin['year']}} {% else %} '' {% endif %},
                       fields: {% if origin['fieldsOfStudy'] %} [{% for field in origin['fieldsOfStudy'] %} '{{field}}', {% endfor %}] {% else %} [] {% endif %},
                       abstract: {% if origin['abstract'] %} `{{origin['abstract'].replace("\\u", "").replace("`", "'").replace("\n", "").replace("${", '')}}` {% else %} '' {% endif %},
                       authors: [{% for author in origin['authors'] %} '{{author['name']}}', {% endfor %}], };
        let graphElements = {
            nodes: [
            {% for article in articles %}
                {data:
                    {id: '{{article['paperId']}}',
                    title: '{{article['title'].replace("\n", "")}}',
                    citationCount: {{article['citationCount']}},
                    year: {% if article['year'] %} {{article['year']}} {% else %} '' {% endif %},
                    fields: {% if article['fieldsOfStudy'] %} [{% for field in article['fieldsOfStudy'] %} '{{field}}', {% endfor %}] {% else %} [] {% endif %},
                    abstract: {% if article['abstract'] %} `{{article['abstract'].replace("\\u", "").replace("`", "'").replace("\n", "").replace("${", '')}}` {% else %} '' {% endif %},
                    authors: [{% for author in article['authors'] %} '{{author['name']}}', {% endfor %}],} },
            {% endfor %}
            ],
            edges: [
                {% for edge in edges %}
                    {data: {id: '{{edge[0] + edge[1]}}', source: '{{edge[0]}}', target: '{{edge[1]}}' } },
                {% endfor %}
            ]
        }
        let cy = cytoscape({
    container: document.getElementById('cy'),
    elements: graphElements,
    wheelSensitivity: 0.1,
    layout :{name: 'circle',   idealEdgeLength: edge => 500, radius: 1000},
    style: [
      {
        selector: 'node',
        style: {
          'label': 'data(title)',
          'width': 'mapData(citationCount,0,500,200,400)',
          'height': 'mapData(citationCount,0,500,200,400)',
          'font-size': '80px',
          'font-family': 'system-ui',
          'background-color': 'mapData(year,{{ minyear }},{{ maxyear }},#F6E9B5, #FD9502)',
          'text-wrap': 'wrap',
          'text-valign': 'center',
          'text-max-width': '1200px',
          'border-width': '2px',
        }
      }, {
        selector: 'edge',
        style: {
            'width': '1px',
        }
      },
      {
            selector: 'node.highlight',
            style: {
                'border-color': 'black',
                'border-width': '2px'
            }
        },
        {
            selector: 'node.semitransp',
            style:{ 'opacity': '0.5' }
        },
        {
            selector: 'edge.highlight',
            style: { 'width': '2px','line-color' : 'black', }
        },
        {
            selector: 'edge.semitransp',
            style:{ 'opacity': '0.2' }
        },
        {
            selector: 'node.active',
            style: {
                'border-color': 'black',
                'border-width': '4px'
            }
        },
        {
            selector: 'edge.active',
            style: {
                'line-color' : 'black',
                'width': '4px',
            }
        },
        {
            selector: 'node.tapped',
            style: {
                'font-size': '90px',
            }
        },
    ]
  });
  // cy.on('layoutstop', ()=>{cy.elements().shift('x', -2000);console.log('ready');});
  cy.layout({name: 'fcose',   idealEdgeLength: edge => 1200, startAngle: -1/3 * Math.PI, animate: true, nodeRepulsion: node => 60000000, stop: () => {
    cy.nodes().layout({name: 'preset', animate: true, fit: false, transform: (node) => {
        let position = {};
        if (window.screen.width > 900) {
            position.x = node.position('x') - 1500;
            position.y = node.position('y');
        } else {
            position.x = node.position('x');
            position.y = node.position('y')  -3500;
        }
        return position;
    }
    }).run();}}).run();
  cy.elements().getElementById(origin['id']).style('background-color', 'white');
  cy.elements().getElementById(origin['id']).style('border-width', '20px');
  cy.elements().getElementById(origin['id']).style('border-color', '#FFC727');
  let main = cy.elements().getElementById(origin['id']);
  cy.on('mouseover', 'node', function(e){
    var sel = e.target;


    document.getElementById("title").innerHTML = sel.data()['title'];
    document.getElementById("authors").innerHTML = '';
    for (let author of sel.data()['authors']) {
        document.getElementById("authors").innerHTML += '<a class="author" href="/' + author + '/1">' + author + '</a>';
    }
    // document.getElementById("authors").innerHTML = '<span class="author">' + sel.data()['authors'].join('</span><span class="author">') + '</span>';
    document.getElementById("year").innerHTML = sel.data()['year'];
    document.getElementById("ncitations").innerHTML = sel.data()['citationCount'];
    document.getElementById("abstract").innerHTML = sel.data()['abstract'];
    document.getElementById("fields").innerHTML = '<span class="fieldOfStudy">' + sel.data()['fields'].join('</span><span class="fieldOfStudy">') + '</span>';
    document.getElementById("article_link").href = "https://www.semanticscholar.org/paper/" + sel.data()['id'];
    document.getElementById("build_graph").href = "/graph/" + sel.data()['id'];


    cy.elements().difference(sel.incomers().union(sel.outgoers())).not(sel).addClass('semitransp');
    sel.addClass('highlight').incomers().union(sel.outgoers()).addClass('highlight');
});
  cy.on('mouseout', 'node', function(e){
    var sel = e.target;


    document.getElementById("title").innerHTML = main.data()['title'];
    document.getElementById("authors").innerHTML = '';
    for (let author of main.data()['authors']) {
        document.getElementById("authors").innerHTML += '<a class="author" href="/' + author + '/1">' + author + '</a>';
    }
    document.getElementById("year").innerHTML = main.data()['year'];
    document.getElementById("ncitations").innerHTML = main.data()['citationCount'];
    document.getElementById("abstract").innerHTML = main.data()['abstract'];
    document.getElementById("fields").innerHTML = '<span class="fieldOfStudy">' + main.data()['fields'].join('</span><span class="fieldOfStudy">') + '</span>';
    document.getElementById("article_link").href = "https://www.semanticscholar.org/paper/" + main.data()['id'];
    document.getElementById("build_graph").href = "/graph/" + main.data()['id'];


    cy.elements().removeClass('semitransp');
    sel.removeClass('highlight').incomers().union(sel.outgoers()).removeClass('highlight');

});

  cy.on('tap', 'node', function(e){
    var sel = e.target;


    document.getElementById("title").innerHTML = sel.data()['title'];
    document.getElementById("authors").innerHTML = '';
    for (let author of sel.data()['authors']) {
        document.getElementById("authors").innerHTML += '<a class="author" href="/' + author + '/1">' + author + '</a>';
    }
    document.getElementById("year").innerHTML = sel.data()['year'];
    document.getElementById("ncitations").innerHTML = sel.data()['citationCount'];
    document.getElementById("abstract").innerHTML = sel.data()['abstract'];
    document.getElementById("fields").innerHTML = '<span class="fieldOfStudy">' + sel.data()['fields'].join('</span><span class="fieldOfStudy">') + '</span>';
    document.getElementById("article_link").href = "https://www.semanticscholar.org/paper/" + sel.data()['id'];
    document.getElementById("build_graph").href = "/graph/" + sel.data()['id'];
    main = sel;

    if (sel.hasClass("tapped")) {sel.removeClass("tapped");sel.incomers().union(sel.outgoers()).removeClass("active");return;}
    cy.elements().removeClass("active").removeClass("tapped");
    sel.addClass('tapped').incomers().union(sel.outgoers()).addClass('active');
});
    </script>
</body>
</html>
{% endblock %}