{% extends "base.html" %}
{% block content %}

    <div class="search-results">
        <div class="welcome">
            <span>Добро пожаловать на <span style="background-color: #FFC727" class="hover-name">PapersMatch</span> -<br>платформу, которая поможет вам<br>быстро и легко найти релевантные<br>статьи и исследования.</span>
        </div>
        <div class="searchbar">
                <input type="text" id="search" placeholder="Статья, книга, автор, тема...">
            <button id="sbutton">Найти</button>
        </div>
        <div class="subtext">Присоединяйтесь к PapersMatch и откройте мир знаний!</div>
        <div class="mobile-warning">
            <img src="/static/img/desktop-icon.png" style="width: 60px; height: fit-content">
            <div class="warning-text">Для большего удобства используйте компьютер!</div>
        </div>
    </div>
    <div class="plane left">
        <img src="/static/img/paper-plane.png">
    </div>
    <div class="plane right">
        <img src="/static/img/paper-plane.png">
    </div>

    <script>
        let sb = document.getElementById("search");
        let btn = document.getElementById("sbutton");
        btn.onclick = function () {
            if (sb.value) {
                window.location.href = '/' + sb.value + '/1';
            }
        }
        sb.addEventListener('keydown', function(e) {
    if (e.keyCode === 13) {
      if (sb.value) {
                window.location.href = '/' + sb.value + '/1';
            }
    }
  });
    </script>
</body>
</html>
{% endblock %}