<html>
<head>
    <title>PapersMatch: {{query}}</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.25.0/cytoscape.min.js'></script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <img src="/static/img/logo.png" class="logo">

    <div class="search-results">
        <div class="searchbar">
                <input type="text" id="search" placeholder="Статья, книга, автор, тема..." value="{{ query }}">
            <button id="sbutton">Найти</button>
        </div>
        <div class="results-caption">Результаты поиска для {{ query }}:</div>
        {% for result in results %}
        <div class="result">
            <div class="title"><a href="/graph/{{result['paperId']}}">{{ result['title'] }}</a></div>
            <span class="popup" data-popuptext="Источник"><a href="https://www.semanticscholar.org/paper/{{result['paperId']}}" id="article_link" target="_blank"><img src="/static/img/data-source.png" width="30" height="30"></a></span>
            <div><span class="authors">{% for author in result['authors'] %} {{author['name']}} {% endfor %}</span></div>
            <div>Год: <span class="year">{% if result['year'] %} {{result['year']}} {% endif %}</span></div>
            <div><span class="fields">{% if result['fieldsOfStudy'] %} {% for field in result['fieldsOfStudy'] %} <span>{{field}}</span> {% endfor %} {% endif %}</span></div>
            <div>Цитирования: <span class="ncitations">{{ result['citationCount'] }}</span></div>
            <div class="abstract"><span class="abstract">{% if result['abstract'] %} {{result['abstract'].replace("\\u", "").replace("`", "'").replace("${", '')}} {% endif %}</span></div>
        </div>
        {% endfor %}
    </div>
    <script>
        let sb = document.getElementById("search");
        let btn = document.getElementById("sbutton");
        btn.onclick = function () {
            window.location.href = '/' + sb.value;
        }

        sb.addEventListener('keydown', function(e) {
    if (e.keyCode === 13) {
      window.location.href = '/' + sb.value;
    }
  });
    </script>
</body>
</html>